<div id="nav">
    <ul>
        <li><a class="fas fa-home nav-item left" href="/ecadmin"></a></li>
        <li><a class="nav-item nav-link center" href="/termekek">Terméklista</a></li>
        <li><a class="nav-item nav-link center" href="/beszallitok">Beszállítólista</a></li>
        <li><a class="nav-item dropdown-toggle right" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-alt"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">Kijelentkezés</a>
            </div>
        </li>
    </ul>
</div>