<%- include('partials/header') -%>
<%- include('partials/menu')-%>
    <div class="square">
        <h1>Üdvözöljük az Ecadmin felületen!</h1>
        <h2>Válasszon ki egy megfelelő táblázatot a fenti opciókból.</h2>
    </div>

<%- include('partials/footer')-%>